@using ComputerDeviceShopping.Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/PrivateSite/Views/Shared/_Layout.cshtml";
    var accountInformation = ViewData["AccountInformation"] as Account;
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6" style="margin-top:90px;">
                    <h1>Thông tin tài khoản cá nhân</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href=''>Dashboard</a></li>
                        <li class="breadcrumb-item active">Thông tin</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     src="~/images/profile/user-1.jpg"
                                     alt="User profile picture" style="border-radius: 10%;" />
                            </div>
                            <h3 class="profile-username text-center">@accountInformation.LastName @accountInformation.FirstName</h3>
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Nhóm tài khoản: </b><a class="float-right text-decoration-none c-black">@ViewBag.GroupName</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Thông tin</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Đổi mật khẩu</button>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="form-group row mb-3">
                                        <label class="col-sm-2 col-form-label">Tên đăng nhập</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" value="@accountInformation.Username" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" value="@accountInformation.Email" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-sm-2 col-form-label">Thời gian tạo</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" value="@accountInformation.CreateAt" disabled>
                                        </div>
                                    </div>
                                    @using (Html.BeginForm("ChangeInformation", "AdminProfile", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="UserId" value="@accountInformation.UserId" />
                                        <div class="form-group row mb-3">
                                            <label class="col-sm-2 col-form-label">Số điện thoại</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="Mobile" name="Phone" value="@accountInformation.Phone" required>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label class="col-sm-2 col-form-label">Họ</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="LastName" name="LastName" value="@accountInformation.LastName" required>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label class="col-sm-2 col-form-label">Tên</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="FirstName" name="FirstName" value="@accountInformation.FirstName" required>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label class="col-sm-2 col-form-label">Địa chỉ</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="FirstName" name="DeliverAddress" value="@accountInformation.DeliverAddress" required>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label class="col-sm-2 col-form-label">Giới tính</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" name="Gender">
                                                    <option value="true" @(accountInformation.Gender == true ? "selected" : "")>Nam</option>
                                                    <option value="false" @(accountInformation.Gender == false ? "selected" : "")>Nữ</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-success">Lưu</button>
                                    }
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <form id="form_changePW" >
                                        <input type="hidden" id="iduser" value="@accountInformation.UserId" />
                                        <div class="form-group row mb-3">
                                            <label for="currentPassword" class="col-sm-2 col-form-label">Mật khẩu cũ</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="currentPassword">
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label for="newPassword" class="col-sm-2 col-form-label">Mật khẩu mới</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="newPassword">
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label for="confirmNewPassword" class="col-sm-2 col-form-label">Nhập lại mật khẩu mới</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="confirmNewPassword">
                                            </div>
                                        </div>
                                        <button type="button" onclick="ChangePassword()" class="btn btn-success">Lưu</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    function ChangePassword() {
        var id = document.getElementById('iduser').value;
        var currentPassword = document.getElementById('currentPassword').value;
        var newPassword = document.getElementById('newPassword').value;
        var confirmNewPassword = document.getElementById('confirmNewPassword').value;

        if (currentPassword.lenght == '' || newPassword == '' || confirmNewPassword == '') {
            Swal.fire({
                position: "center",
                icon: "error",
                title: "Không được để trống",
                showConfirmButton: true,
                timer: 1500
            });
            return;
        } else if (newPassword !== confirmNewPassword) {
            Swal.fire({
                position: "center",
                icon: "error",
                title: "Mật khẩu mới không khớp",
                showConfirmButton: true,
                timer: 1500
            });
            return;
        }
        
        fetch(`/api/adminprofile/changepassword/${id}&${currentPassword}&${newPassword}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: data.message,
                        showConfirmButton: true,
                        timer: 1500
                    }).then((result) => {
                        if (result.dismiss === Swal.DismissReason.timer || result.isConfirmed) {
                            location.reload(true);
                        }
                    });
                } else {
                    Swal.fire({
                        position: "center",
                        icon: "error",
                        title: data.message,
                        showConfirmButton: true,
                        timer: 1500
                    }).then((result) => {
                        location.reload(true);
                    });
                }
            })
            .catch(error => {
                console.error(error);
            });
    }
</script>