@using ComputerDeviceShopping.Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/PrivateSite/Views/Shared/_Layout.cshtml";
    var accountInformation = ViewData["AccountInformation"] as Account;
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6" style="margin-top:90px;">
                    <h1>Thông tin tài khoản cá nhân</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href=''>Dashboard</a></li>
                        <li class="breadcrumb-item active">Thông tin</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     src="~/images/profile/user-1.jpg"
                                     alt="User profile picture" style="border-radius: 10%;" />
                            </div>
                            <h3 class="profile-username text-center">@accountInformation.LastName @accountInformation.FirstName</h3>
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Nhóm tài khoản: </b><a class="float-right text-decoration-none c-black">@ViewBag.GroupName</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Thông tin</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Đổi mật khẩu</button>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    @using (Html.BeginForm("ChangeInformation", "AdminProfile", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="UserId" value="@accountInformation.UserId" />
                                        <div class="form-group row mb-3">
                                            <label class="col-sm-2 col-form-label">Tên đăng nhập</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" value="@accountInformation.Username" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label class="col-sm-2 col-form-label">Email</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" value="@accountInformation.Email" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label class="col-sm-2 col-form-label">Thời gian tạo</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" value="@accountInformation.CreateAt" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label class="col-sm-2 col-form-label">Số điện thoại</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="Mobile" name="Phone" value="@accountInformation.Phone" required>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label class="col-sm-2 col-form-label">Họ</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="LastName" name="LastName" value="@accountInformation.LastName" required>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label class="col-sm-2 col-form-label">Tên</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="FirstName" name="FirstName" value="@accountInformation.FirstName" required>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label class="col-sm-2 col-form-label">Địa chỉ</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="FirstName" name="DeliverAddress" value="@accountInformation.DeliverAddress" required>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label class="col-sm-2 col-form-label">Giới tính</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" name="Gender">
                                                    <option value="true" @(accountInformation.Gender == true ? "selected" : "")>Nam</option>
                                                    <option value="false" @(accountInformation.Gender == false ? "selected" : "")>Nữ</option>
                                                </select>
                                            </div>
                                        </div>
                                        @if (TempData["Toast"] is string toast)
                                        {
                                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                @toast
                                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                            </div>
                                        }
                                        @if (TempData["Error"] is string err)
                                        {
                                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                @err
                                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                            </div>
                                        }
                                        <button type="submit" class="btn btn-success">Lưu</button>
                                    }
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    @using (Html.BeginForm("ChangePassword", "AdminProfile", FormMethod.Post))
                                    {
                                        <div class="form-group row mb-3">
                                            <label for="currentPassword" class="col-sm-2 col-form-label">Mật khẩu cũ</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" name="CurrentPassword" id="CurrentPassword" />
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label for="newPassword" class="col-sm-2 col-form-label">Mật khẩu mới</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" name="NewPassword" id="NewPassword" />
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label for="confirmNewPassword" class="col-sm-2 col-form-label">Nhập lại mật khẩu mới</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword">
                                            </div>
                                        </div>
                                        @if (TempData["Toast"] is string toast)
                                        {
                                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                @toast
                                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                            </div>
                                        }
                                        @if (TempData["Error"] is string err)
                                        {
                                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                @err
                                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                            </div>
                                        }
                                        <button type="submit" class="btn btn-success">Lưu</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
